* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.node__root > circle {
  fill: #0000ff;

}

.node__branch > circle {
  fill: #1e90ff;

}

.node__leaf > circle {
  fill: #87cefa;
  /* Let's also make the radius of leaf nodes larger */
}

#logoHeader {
  display: flex;
  width: 70px;
  max-height: 64px;
  margin-left: 0px;
  align-self: flex-start;
  padding-left: 0px;
}

.toolbar-header {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-left: 0px;
}
